<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="d-flex justify-content-between">
            <p>mobo.lv</p>
            <button type="button" class="btn-close justify-content-end" data-bs-dismiss="modal"></button>
        </div>
            
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
            <h4 class="text-center text-primary">{{'lang.register' | translate}}</h4>
            <hr>
            <div class="form-group">
                <input 
                    name="displayName"
                    [(ngModel)]="model.displayName"
                    class="form-control mb-2" 
                    type="text"
                    placeholder="{{'lang.name' | translate}}">
                <input
                  name="email"
                  [(ngModel)]="model.email"
                  class="form-control mb-2" 
                  type="email" 
                  placeholder="{{'lang.email' | translate}}">
                <input 
                  name="password"
                  [(ngModel)]="model.password"
                  class="form-control mb-2" 
                  type="password" 
                  placeholder="{{'lang.password' | translate}}">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-outline-primary col-6 mt-4" data-bs-dismiss="modal" type="submit">{{'lang.register' | translate}}</button>
            </div>
        </form>
      </div>
      <hr>
      <div class="text-center pb-3">
        <a href="" data-bs-toggle="modal" data-bs-target="#loginModal">{{'lang.alreadyAMember' | translate}}</a>
      </div>
    </div>
  </div>