<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container collapse navbar-collapse justify-content-end">
        <div class="btn-group-sm d-flex justify-content-end" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-secondary" (click)="useLanguage('lv')" for="btnradio1"><span class="flag-icon flag-icon-lv"></span></label>
    
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-secondary" (click)="useLanguage('ru')" for="btnradio2"><span class="flag-icon flag-icon-ru"></span></label>
    
          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-secondary" (click)="useLanguage('gb')" for="btnradio3"><span class="flag-icon flag-icon-gb"></span></label>
        </div>
    </div>
</nav>
