<div class="container" style="max-width: 300px;">
    <div class="justify-content-center">

      <form [formGroup]="resetForm" (ngSubmit)="resetPassword(); onSubmit()" autocomplete="off">

        <div class="row">
          <div class="col-10">
            <h4 class="text-primary">{{'lang.reset' | translate}}</h4>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-outline-primary"
                    (click)="showAlert = !showAlert">
                    <fa-icon [icon]="faInfoCircle"></fa-icon>
            </button>
          </div>
        </div>
    
        <div class="row justify-content-sm-center">
            <alert class="" *ngIf="showAlert" type="info">
              <strong>Hej Nēģer!</strong> {{'lang.enterPattern' | translate}}
            </alert>
        </div>

        <hr>

        <div class="form-group">
            <input
              [class.is-invalid]="resetForm.get('password').errors && resetForm.get('password').touched"
              formControlName="password"
              class="form-control mb-2" 
              type="password" 
              placeholder="{{'lang.password' | translate}}">
            <div *ngIf="resetForm.get('password').hasError('required')" class="invalid-feedback mb-2">{{'lang.enterPassword' | translate}}</div>
            <div *ngIf="resetForm.get('password').hasError('pattern')" class="invalid-feedback mb-2">{{'lang.enterPattern' | translate}}</div>

            <input 
              [class.is-invalid]="resetForm.get('confirmPassword').errors && resetForm.get('confirmPassword').touched"
              formControlName="confirmPassword"
              class="form-control mb-2" 
              type="password" 
              placeholder="{{'lang.confirmPassword' | translate}}">
            <div *ngIf="resetForm.get('confirmPassword').hasError('required')" class="invalid-feedback mb-2">{{'lang.enterConfirmPassword' | translate}}</div>
            <div *ngIf="resetForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback mb-2">{{'lang.matchPasswords' | translate}}</div>
        </div>

          <div class="form-group text-center">
            <button class="btn btn-outline-primary col-6 mt-4" type="submit">{{'lang.confirm' | translate}}</button>
          </div>
      </form>

  </div>

  <hr>

  <div class="text-center pb-3">
    <p>Form value: {{resetForm.value | json}}</p>
    <p>Form value: {{resetForm.status | json}}</p>
  </div>

</div>